.banner{
    width: 100%;  
  
}

.product_heading{
 
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.home_products{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.container {
    position: relative;
   }
 
  

  .container .btn {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #000000;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: black;
  }


  .cards__item__img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  @media only screen and (max-width: 650px) {
    .home_products{
           
           object-fit: contain;
           flex-direction: column;
           align-items: center;
           justify-content: centers;
    }       

    .cards__item__img:hover {
      transform: scale(1.1);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
   }


   @media only screen and (max-width: 900px) {
    
    .home_products{
      margin-left: 50px;
      margin-right:50px ;
      object-fit: contain;
      flex-direction: column;
      align-items: center;
           justify-content: centers;
}      

.cards__item__img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
   }